@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    font-family: 'Nunito Sans', sans-serif;

    --Dark-Blue: hsl(209, 23%, 22%); /* -(Dark-Mode-Elements) */
    --Very-Dark-Blue: hsl(207, 26%, 17%); /* -(Dark-Mode-Background) */
    --Very-Dark-Blue: hsl(200, 15%, 8%); /* -(Light-Mode-Text) */
    --Dark-Gray: hsl(0, 0%, 52%); /* -(Light-Mode-Input) */
    --Very-Light-Gray: hsl(0, 0%, 98%);  /* -(Light-Mode-Background) */
    --White: hsl(0, 0%, 100%);  /*-(Dark-Mode-Text-&-Light-Mode-Elements) */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem 2rem 1rem;
}

main {
    background-color: var(--Very-Light-Gray);
    padding-top: 2rem;
}

.site__title {
    font-weight: 800;
}

.search {
    padding: 0.5rem 1rem;
}

.search__container {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    background-color: var(--White);
    margin-bottom: 1rem;
}

.search__field {
    border: none;
    outline: none;
    color: var(--Dark-Gray);
    width: 90%;
}

.filter__container {
    width: 60%;
    border-radius: 5px;
    border: none;
    background-color: var(--White);
    margin-bottom: 1rem;
}

#continents{
    padding: 1rem;
    border: none;
}

select {
    width: 100%;
    outline: none;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.country__card {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 2rem;
    cursor: pointer;
    background-color: var(--White);
    box-shadow: 0 0px 6px rgb(0 0 0 / 20%);
}

.country__flag {
    flex: 1;
    border-radius: 10px 10px 0 0;
    margin-bottom: 3rem;
}

.country__img img{
    width: 100%;
    height: auto;
    object-fit: fill;
    display: block;
    border-radius: 10px 10px 0 0;
}

.country__information {
    padding: 1rem 2rem;
    background-color: var(--White);
    border-radius: 0 0 10px 10px;
}

.country__name {
    font-weight: 600;
    text-transform: capitalize;
    color: black;
}

/* details section */
.detailed-info {
    width: 90%;
    margin: 0 auto;
    display: none;
}

.country__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.title {
    font-weight: 700;
}

.title span {
    margin-left: 0.5rem;
    font-weight: 400;
}

.back {
    padding: 0.5rem 1.5rem;
    box-shadow: 0 0px 6px rgb(0 0 0 / 20%);
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: var(--White);
}

.back:hover {
    cursor: pointer;
}

.country__card__details {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.detailed__country__img img {
    width: 100%;
    height: auto;
    display: block;
}

.details__1, .details__2 {
    margin-bottom: 1.5rem;
}

.country__name_2 {
    margin-bottom: 1rem;
}

.border__list {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.border--countries {
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0px 6px rgb(0 0 0 / 20%);
    background-color: var(--White);
    text-decoration: none;
}

.border--countries:hover {
    cursor: pointer;
}

.back-arrow {
    width: 30px;
    margin-right: 1rem;
    vertical-align:middle;
}

.search-icon {
    width: 30px;
    vertical-align:middle;
}